<div class="customer">
  <div class="customer__header">
    <h1 class="customer__heading">customer service</h1>
  </div>
  <p>you can contact us in the following ways:</p>
  <p class="customer__text">telephone number : 012 345 678</p>
  <p class="customer__text">
    email :
    <a href="mailto:bizzbean.customer@bizzbean.com"
      >bizzbean.customer@bizzbean.com</a
    >
  </p>
  <p>integrated communication</p>
  <textarea
    class="blue-input"
    cols="30"
    rows="40"
    placeholder="message"
  ></textarea>
  <div class="customer__buttons-container">
    <button class="primary-btn ml-2">send</button>
  </div>
</div>
