@import "../../../theme.scss";
@import "../../../mixins";

.auth-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $white !important;

  @media (min-width: 588px) {
    justify-content: space-evenly;
  }

  &__hero-img {
    width: 50%;
    height:auto;
    background-image: url("minified/herodash.webp");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: none;

    @include breakpoint("medium") {
      display: block;
    }
    @include breakpoint("large") {
    width: 50%;
      height: auto;
    }

  }

  &__glass {
    height: 26.25%;
    width: 80%;
    color: $white;
    font-size: 20px;
    position: absolute;
    top: 40px;
    left: 40px;
    line-height: 47px;
    font-weight: 400;

    &-text {
      font-size: 20px;
      line-height: 120%;

      @include breakpoint("small") {
        font-size: 40px;
      }

      @include breakpoint("medium") {
        font-size: 50px;
      }


    }
  }

  &__form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    justify-content: center;
    overflow-y: auto;

    @include breakpoint("medium") {
      width: 50%;
    }
  }

  &__logo {
    width: 35%;
    margin-bottom: 15px;
    margin-top: 15px;
    align-self: center;
  }
}
