<nav class="app-bizzcalc-footer-nav d-flex justify-content-between px-2">
    <a class="app-bizzcalc-footer-link" routerLink="/main/bizzcalc/setup"><img height="30px" src="minified/setup.PNG" /></a>
    <a class="app-bizzcalc-footer-link" routerLink="/main/bizzcalc/revenue-calculator"><img height="30px" src="minified/revenue.PNG" /></a>
    <a class="app-bizzcalc-footer-link" routerLink="/main/bizzcalc/employment"><img height="30px" src="minified/employment.PNG"/></a>
    <a class="app-bizzcalc-footer-link" routerLink="/main/bizzcalc/operating-expense"><img height="30px" src="minified/assets.PNG"/></a>
    <a class="app-bizzcalc-footer-link" routerLink="/main/bizzcalc/fixed-assets"><img height="30px" src="minified/expenses.PNG"/></a>
    <a class="app-bizzcalc-footer-link" routerLink="/main/bizzcalc/funding-calculator"><img height="30px" src="minified/calculator.PNG"/></a>
    <a class="app-bizzcalc-footer-link" routerLink="/main/bizzcalc/reports"><img height="30px" src="minified/reports.PNG"/></a>
</nav>
