<nav class="app-bizzcalc-footer-nav d-flex justify-content-between px-2">
    <a class="app-bizzcalc-footer-link" routerLink="/main/bizzcalc/setup"><img height="30px" src="../../../../../assets/minified/bizzcalc/setup.PNG" /></a>
    <a class="app-bizzcalc-footer-link" routerLink="/main/bizzcalc/revenue-calculator"><img height="30px" src="../../../../../assets/minified/bizzcalc/revenue.PNG" /></a>
    <a class="app-bizzcalc-footer-link" routerLink="/main/bizzcalc/employment"><img height="30px" src="../../../../../assets/minified/bizzcalc/employment.PNG"/></a>
    <a class="app-bizzcalc-footer-link" routerLink="/main/bizzcalc/operating-expense"><img height="30px" src="../../../../../assets/minified/bizzcalc/assets.PNG"/></a>
    <a class="app-bizzcalc-footer-link" routerLink="/main/bizzcalc/fixed-assets"><img height="30px" src="../../../../../assets/minified/bizzcalc/expenses.PNG"/></a>
    <a class="app-bizzcalc-footer-link" routerLink="/main/bizzcalc/funding-calculator"><img height="30px" src="../../../../../assets/minified/bizzcalc/calculator.PNG"/></a>
    <a class="app-bizzcalc-footer-link" routerLink="/main/bizzcalc/reports"><img height="30px" src="../../../../../assets/minified/bizzcalc/reports.PNG"/></a>
</nav>
