@import  "../../../../../theme.scss";

.app-bizzcalc-footer-nav {
    background-color: white;
    border-bottom:  0.625rem solid $secondary-green;
}

.app-bizzcalc-footer-link {
    padding: 5px 0;
}


img {
  transition: all 0.8s ease-in;
}

img:hover {
  transform: scale(1.4);
  transform: rotate(360deg);
}
