<div class="container-fluid px-0 bizzcalc-setup-container">
    <div class="bizzcalc__container">
        <!-- base assumptions -->
        <app-bizzcalc-base-assumption></app-bizzcalc-base-assumption>
        <app-bizzcalc-operating-expense></app-bizzcalc-operating-expense>
        <!-- View data buttons -->
        <div class="bizzbean-action-buttons pt-3 border">
            <app-bizzbean-action-buttons (saveClicked)="onSaveClicked()"></app-bizzbean-action-buttons>
        </div>
    </div>

</div>
