<div class="forgot-form">
  <div class="input-group">
    <h2 class="forgot-header">forgot password</h2>
    <label class="input-label">email</label>
    <input type="email" class="blue-input" placeholder="email" [(ngModel)]="email" />
  </div>

    <button class="primary-btn" (click)="resetPassword()">
      send reset email
    </button>
    <p class="text-success" *ngIf="successMessage != ''">{{ successMessage }}</p>
    <p class="text-danger error-message-section" *ngIf="errorMessage != ''">{{ errorMessage }}</p>
  <button class="secondary-btn" routerLink="/auth/login">
    back to login
  </button>
</div>

