@import "../../../mixins";
@import "../../../theme.scss";

  .mb-4{
    color: $primary-blue;
    margin: 20px;
  }

 .bizzclass__nav-list{
      width: 100%;
      margin-top:30px;
      display: flex;
      align-items: center;
      list-style: none;
      flex-wrap: wrap;
      flex-direction: column;

      @include breakpoint("medium") {
        flex-direction: row;
      }

      @include breakpoint("large") {
        flex-direction: row;
      }

      @include breakpoint("xlarge") {
        flex-direction: row;
      }
 }

.bizzclass__nav-list-item {
        margin: 10px;
        cursor: pointer;
        font-size: 12px;
        text-align: center;
        background-color: $primary-blue;
        color: $white;
        border-radius: 15px;
        padding: 8px;
        width: 30%;
        flex-wrap: wrap;


        @include breakpoint("medium") {
          margin: 10px;
          font-size: 12px;
          width: 15%;
        }

        @include breakpoint("large") {
          margin: 10px;
          font-size: 12px;
          width: 10%;
        }

        @include breakpoint("xlarge") {
          margin: 10px;
          font-size: 12px;
          width: 10%;
        }

        &:hover {
          background-color: $primary-green;
        }
      }

.active {
  background-color: $primary-green;
}