<!--<ul class="bizzclass__nav-list">
  <h1 class="mb-4">bizzclass</h1>
  <li class="bizzclass__nav-list-item" [ngClass]="{ active: activeRoute == 'quotes' }"
    (click)="changeRoute('/main/bizzclass/quotes')">
    a thought
  </li>  
  <li class="bizzclass__nav-list-item" [ngClass]="{ active: activeRoute == 'videos' }"
    (click)="changeRoute('/main/bizzclass/videos')">
    videos
  </li>
  <li class="bizzclass__nav-list-item" [ngClass]="{ active: activeRoute == 'podcasts' }"
    (click)="changeRoute('/main/bizzclass/podcasts')">
    podcasts
  </li>
  <li class="bizzclass__nav-list-item" [ngClass]="{ active: activeRoute == 'minute-lessons' }"
    (click)="changeRoute('/main/bizzclass/minute-lessons')">
    1-minute lessons
  </li>
  <li
    class="bizzclass__nav-list-item"
    [ngClass]="{ active: activeRoute == 'bizzblog' }"
    (click)="changeRoute('/main/bizzclass/bizzblog')">
    bizzblog
  </li>

</ul>-->

<router-outlet></router-outlet>