<div class="container header-container bg-white px-3">
  <section class="d-flex justify-content-between header-container-top align-items-center">
    <div class="">
      <img height="20px" src="minified/exit.svg" />
    </div>
    <div class="nav-title-label nav-header-label">{{ title }}</div>
    <div class="" style="width: 20px;"></div>
  </section>

  <section class="d-flex justify-content-between bizzcalc-row header-container-navigations py-2" style="padding-top: 8px !important;">
    <div [style.visibility]="showLeftIcon ? 'visible' : 'hidden'">
      <a *ngIf="leftIconRoute" [routerLink]="leftIconRoute">
        <img height="20px" src="minified/navigation_left.svg" />
      </a>
    </div>
    <div class="nav-title-label">{{ headerLabel }}</div>
    <div [style.visibility]="showRightIcon ? 'visible' : 'hidden'">
      <a *ngIf="rightIconRoute" [routerLink]="rightIconRoute">
        <img height="20px" src="minified/navigation_right.png" />
      </a>
    </div>
  </section>
</div>
