@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.nav-title-label {
  color: #5085b6;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 400 !important;
  letter-spacing: 3px;
  margin-top: 0px;
}

.header-container-top, .header-container-navigations {
  min-height: 50px !important;
}
