<div class="modal-header justify-content-between">
  <h6 class="modal-title modal-basic-title" id="modal-basic-title">operating expenses</h6>
  <i
    class="bi bi-x-lg modal-close-button"
    (click)="activeModal.dismiss('Cross click')"
  ></i>
</div>

<!-- Modal body -->
<div class="modal-body">
  <!-- <pre>{{holidays | json}}</pre> -->
  <ng-container *ngIf="!viewDaysWorked">
    <table>
      <tr>
        <th class="w-25 text-center days-worked-th">expense</th>
        <th class="w-25 text-center days-worked-th">base rate</th>
        <th class="w-25 text-center days-worked-th">mth</th>
        <th class="w-25 text-center days-worked-th">rate</th>
        <th class="w-25 text-center days-worked-th">action</th>
      </tr>
      <tr *ngFor="let holiday of holidays">
        <td class="w-25 text-center days-worked-td">
          {{ holiday.HolidayName }}
        </td>
        <td class="w-25 text-center days-worked-td">{{ holiday.DateStart }}</td>
        <td class="w-25 text-center days-worked-td">{{ holiday.DateEnd }}</td>
        <td class="w-25 text-center days-worked-td">
          <div class="d-flex justify-content-around px-3">
            <div class="edit-icon pe-2" (click)="onEditHoliday(holiday)">
              <i class="bi bi-pen"></i>
            </div>
            <div class="thrash-icon pe-2" (click)="onRemoveHoliday(holiday)">
              <i class="bi bi-x-square"></i>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </ng-container>
  <ng-container *ngIf="viewDaysWorked">
    <table>
      <tr>
        <th class="w-25 text-center days-worked-th">holiday</th>
        <th class="w-25 text-center days-worked-th">month days</th>
        <th class="w-25 text-center days-worked-th">not worked</th>
        <th class="w-25 text-center days-worked-th">net days</th>
      </tr>
      <tr *ngFor="let day of daysWorked">
        <td class="w-25 text-center days-worked-td">{{ day.holiday }}</td>
        <td class="w-25 text-center days-worked-td">{{ day.monthDays }}</td>
        <td class="w-25 text-center days-worked-td">{{ day.notWorked }}</td>
        <td class="w-25 text-center days-worked-td">{{ day.netDays }}</td>
      </tr>
    </table>
  </ng-container>
</div>
<!-- Modal footer -->
<div class="modal-footer">
  <ng-container *ngIf="!viewDaysWorked">
    <div class="text-center w-100">
      <!-- <button type="submit" class="primary-btn bizzcalc-button">save</button> -->
      <button
        type="submit"
        class="primary-btn bizzcalc-button bizz-calc-data-save-btn"
        (click)="onDaysWorkedClicked()"
      >
        day worked
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="viewDaysWorked">
    <div class="text-center w-100">
      <button
        type="submit"
        class="primary-btn bizzcalc-button bizz-calc-data-save-btn"
        (click)="onHolidaysClicked()"
      >
        back to holidays
      </button>
    </div>
  </ng-container>

  <!-- <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Save click')">Save</button> -->
</div>
