$primary-btn-padding: 5px;
$primary-btn-min-width: 45px;
$primary-input-height: 35px;

.primary-btn {
    padding: $primary-btn-padding $primary-btn-padding;
    min-width: $primary-btn-min-width;
}

.primary-input, .primary-label {
    height: $primary-input-height;
}

.label-description {
    font-size: 12px;
    color: #5085B6;
}

input {
    font-size: 11px;
}

.p-toast-center {
  width: 250px !important;
}

::ng-deep .test {
  background: #10637c;
  width: 100% !important;
  color: white !important;
  font-size: 15px;
  font-family: "Roboto";
  text-align: center;
}

.p-toast .p-toast-message-success .p-toast-icon {
  display: none !important;
}
::ng-deep .p-toast-icon-close {
  background-color: transparent;
  padding-top: 9px;
  color: white !important;
  display: none;
}

.instructiontextcolour {

  font-family: 'Roboto', sans-serif;
  font-size: 12px !important;
  color: #5085b6;
}


::ng-deep .test {
  background: #10637c !important;
  width: 100% !important;
  color: white !important;
  font-size: 15px;
  font-family: "Roboto";
  text-align: center;
  padding: 10px !important;
}


.test {
  background: #10637c !important;
  width: 100% !important;
  color: white !important;
  font-size: 15px;
  font-family: "Roboto";
  text-align: center;
  padding: 10px !important;
}
