.bizzcalc-setup-container {
    height: 98vh;
}


#bizzcalc__footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

p {
    margin-bottom: -1em; /* Adds space relative to the font size */
    margin-top: 15px;
    font-size: 10px;
  }