<div class="container-fluid px-0 bizzcalc-setup-container bg-white">
  <!-- Header -->
  <app-bizzcalc-header
    [showheaderLabel]="
      setCurrentRouteDetails(currentRoute).title === '' ? false : true
    "
    [showLeftIcon]="setCurrentRouteDetails(currentRoute).previous === '' ? false : true"
    [showRightIcon]="setCurrentRouteDetails(currentRoute).next === '' ? false : true"
    [title]="setCurrentRouteDetails(currentRoute).title"
    [showInfoTitle]="!['','setup', 'report'].includes(setCurrentRouteDetails(currentRoute).title)"
    [leftIconRoute]="setCurrentRouteDetails(currentRoute).previous"
    [rightIconRoute]="setCurrentRouteDetails(currentRoute).next"

  ></app-bizzcalc-header>

  <div class="main-container px-3">
    <router-outlet></router-outlet>
  </div>
  <!-- footer -->
  @if(currentRoute !== '/main/bizzcalc') {
  <div class="bizzcalc__footer" id="bizzcalc__footer">
    <app-bizzcalc-footer></app-bizzcalc-footer>
  </div>
  }
</div>
