<div class="container-fluid px-0 bizzcalc-setup-container bg-white">
  <!-- Header -->
   <app-bizzcalc-header
    [showheaderLabel]="false"
    [showLeftIcon]="false"
    [showRightIcon]="false"
    [title]="''"
  ></app-bizzcalc-header>

  <div class="main-container px-3">
    <router-outlet></router-outlet>
  </div>
  <!-- footer -->
  @if(currentRoute !== '/main/bizzcalc') {
    <div class="bizzcalc__footer" id="bizzcalc__footer">
      <app-bizzcalc-footer></app-bizzcalc-footer>
    </div>
  }
</div>
