

  <div class="container-fluid px-0 bizzcalc-setup-container bg-white">
    <app-bizzcalc-header
    [showLeftIcon]="true"
    [showRightIcon]="true"
    [title]="'revenue calculator'"
    [leftIconRoute]="'/main/bizzcalc/setup/assets-depreciation'"
    [rightIconRoute]="'/main/bizzcalc/employment'">
  </app-bizzcalc-header>

    <div class="bizzcalc__container col-12 py-0">
        <!-- base assumptions -->
         <app-bizzcalc-revenue-calculator></app-bizzcalc-revenue-calculator>
    </div>
</div>
