.bizzcalc-index-container {
    color: #5085B6;
}

.text-smaller {
    font-size: 12px;
    margin: 0;
}

.instruction-text {
    padding-top: 10px;
    line-height: 16px;
}

.proceed-to-setup {
    width: 60%;
}

.proceed-to-setup-container {
    padding-top: 75px;
}