<div class="container-fluid px-0 bizzcalc-days-worked-container bg-white">
  <div class="bizzcalc__container pt-0" style="padding-top: 0px !important;">
    <!-- base assumptions -->
    <div class="col-12 bizzcalc__column app-info-title-container">
      <app-info-title [title]="'base assumption'" (click)="openModalWithDynamicContent()"></app-info-title>
    </div>
    <div class="col-12 bizzcalc__column pt-0">
      <form class="form-container" [formGroup]="fundingCalculatorForm">
        <div class="bizzcalc__column-header-left primary-label primary-label-bizzcalc pb-0">enter working capital days - between 0 and 90</div>
        <div class="form-container">
          <!-- inventory row -->
          <div class="row bizzcalc-primary-row">
            <div class="col-6 col-md-6 pe-1 py-0">
              <label class="primary-label py-0 bizzcalc-primary-label">inventory</label>
            </div>
            <div class="col-6 col-md-6 ps-1 py-0">
              <input type="number" class="primary-input" placeholder="inventory days" formControlName="InventoryDays" />
            </div>

            <small class="text-danger error-message-section" *ngIf="
                fundingCalculatorForm.get('InventoryDays')?.hasError('required') &&
                fundingCalculatorForm.get('InventoryDays')?.touched
              ">
              inventory days is required.
            </small>
            <!-- Error message for min value -->
            <small class="text-danger error-message-section" *ngIf="
                fundingCalculatorForm.get('InventoryDays')?.hasError('min') &&
                fundingCalculatorForm.get('InventoryDays')?.touched
              ">
              value must be at least 0.
            </small>
            <!-- Error message for max value -->
            <small class="text-danger error-message-section" *ngIf="
                fundingCalculatorForm.get('InventoryDays')?.hasError('max') &&
                fundingCalculatorForm.get('InventoryDays')?.touched
              ">
              value must not exceed 90.
            </small>

          </div>
          <!-- receivables row -->
          <div class="row bizzcalc-primary-row">
            <div class="col-6 col-md-6 pe-1 py-0">
              <label class="primary-label py-0 bizzcalc-primary-label">receivables</label>
            </div>
            <div class="col-6 col-md-6 ps-1 py-0">
              <input type="text" class="primary-input" placeholder="receivables" formControlName="ReceivablesDays" />
            </div>
            <small class="text-danger error-message-section" *ngIf="
          fundingCalculatorForm.get('ReceivablesDays')?.hasError('required') &&
          fundingCalculatorForm.get('ReceivablesDays')?.touched
        ">
              receivables days is required.
            </small>
            <small class="text-danger error-message-section" *ngIf="
          fundingCalculatorForm.get('ReceivablesDays')?.hasError('min') &&
          fundingCalculatorForm.get('ReceivablesDays')?.touched
        ">
              value must be at least 0.
            </small>
            <small class="text-danger error-message-section" *ngIf="
          fundingCalculatorForm.get('ReceivablesDays')?.hasError('max') &&
          fundingCalculatorForm.get('ReceivablesDays')?.touched
        ">
              value must not exceed 90.
            </small>
          </div>
          <!-- payables row -->
          <div class="row bizzcalc-primary-row">
            <div class="col-6 col-md-6 pe-1 py-0">
              <label class="primary-label py-0 bizzcalc-primary-label">payables</label>
            </div>
            <div class="col-6 col-md-6 ps-1 py-0">
              <input type="number" class="primary-input" placeholder="payables" formControlName="PayablesDays" />
            </div>
            <small class="text-danger error-message-section" *ngIf="
                fundingCalculatorForm.get('PayablesDays')?.hasError('required') &&
                fundingCalculatorForm.get('PayablesDays')?.touched
              ">
              payables days is required.
            </small>
            <small class="text-danger error-message-section" *ngIf="
                fundingCalculatorForm.get('PayablesDays')?.hasError('min') &&
                fundingCalculatorForm.get('PayablesDays')?.touched
              ">
              value must be at least 0.
            </small>
            <small class="text-danger error-message-section" *ngIf="
                fundingCalculatorForm.get('PayablesDays')?.hasError('max') &&
                fundingCalculatorForm.get('PayablesDays')?.touched
              ">
              value must not exceed 90.
            </small>
          </div>
          <div class="row py-0">
            <div class="col-12 col-md-12 py-0">
              <label class="primary-label bizzcalc__column-header-left primary-label-bizzcalc pb-0">enter value of assets - 0 or greater</label>
            </div>
          </div>
          <!-- floats -->
          <div class="row bizzcalc-primary-row">
            <div class="col-6 col-md-6 pe-1 py-0">
              <label class="primary-label py-0 bizzcalc-primary-label">floats</label>
            </div>
            <div class="col-6 col-md-6 ps-1 py-0">
              <input type="number" class="primary-input" placeholder="value of floats" formControlName="Floats" />
            </div>
            <small class="text-danger error-message-section" *ngIf="
          fundingCalculatorForm.get('Floats')?.hasError('required') &&
          fundingCalculatorForm.get('Floats')?.touched
        ">
              floats are required.
            </small>
            <small class="text-danger error-message-section" *ngIf="
          fundingCalculatorForm.get('Floats')?.hasError('min') &&
          fundingCalculatorForm.get('Floats')?.touched
        ">
              value must be at least 0.
            </small>
          </div>
          <!-- deposits row -->
          <div class="row bizzcalc-primary-row">
            <div class="col-6 col-md-6 pe-1 py-0">
              <label class="primary-label py-0 bizzcalc-primary-label">deposits</label>
            </div>
            <div class="col-6 col-md-6 ps-1 py-0">
              <input type="number" class="primary-input" placeholder="value of deposits" formControlName="Deposits" />
            </div>
            <small class="text-danger error-message-section" *ngIf="
          fundingCalculatorForm.get('Deposits')?.hasError('required') &&
          fundingCalculatorForm.get('Deposits')?.touched
        ">
              deposits are required.
            </small>
            <small class="text-danger error-message-section" *ngIf="
          fundingCalculatorForm.get('Deposits')?.hasError('min') &&
          fundingCalculatorForm.get('Deposits')?.touched
        ">
              value must be at least 0.
            </small>
          </div>
          <!-- petty cash -->
          <div class="row bizzcalc-primary-row">
            <div class="col-6 col-md-6 pe-1 py-0">
              <label class="primary-label py-0 bizzcalc-primary-label">petty cash</label>
            </div>
            <div class="col-6 col-md-6 ps-1 py-0">
              <input type="number" class="primary-input" placeholder="value of petty cash"
                formControlName="PettyCash" />
            </div>
            <small class="text-danger error-message-section" *ngIf="
          fundingCalculatorForm.get('PettyCash')?.hasError('required') &&
          fundingCalculatorForm.get('PettyCash')?.touched
        ">
              petty cash is required.
            </small>
            <small class="text-danger error-message-section" *ngIf="
          fundingCalculatorForm.get('PettyCash')?.hasError('min') &&
          fundingCalculatorForm.get('PettyCash')?.touched
        ">
              value must be at least 0.
            </small>
          </div>
          <p-toast position="center" key="br" />
          <!--  -->
          <div class="row">
            <div class="col-12 d-flex justify-content-between">
              <div>
                <app-save-button (saveClicked)="onAddButtonClicked()" [label]="'add data'"></app-save-button>
              </div>
              <div>
                <app-save-button (saveClicked)="onViewDataBtnClicked()" [label]="'view data'"></app-save-button>
              </div>
              <div>
                <app-save-button (saveClicked)="onSaveClicked()" [label]="'Save'"></app-save-button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
