.nav-control-container {
  border: 1px solid #5085b6;
  background-color: #ddebf7;
  height: 100%;
  /* border-radius: 10px; */
  height: 30px;
  font-size: 12px;
  color: #5085b6;
}

fa-icon {
    color: #5085b6;
    cursor: pointer;
}
